<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/public/css/admin.css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- 헤더 만들기 -->
      <div class="shopHeader"></div>
      <!-- 본문 시작 -->
      <div class="contentWrapBox">
        <!-- 등록 부분 -->
        <div class="addBox">
          <div class="productAddText"><p>상품 등록</p></div>
          <div class="formBox">
            <form name="formName" method="post" enctype="multipart/form-data">
              <!-- 상품명 -->
              <div class="nameBox formBoxdiv">
                <div class="labelBox">
                  <label for="productName"
                    >상품명 <span class="blueText">(필수)</span></label
                  >
                </div>
                <div class="inputBox">
                  <input
                    placeholder="상품명을 입력해 주세요."
                    id="productName"
                    name="productName"
                    class="notoSansfont"
                    required
                  />
                  <div class="nameText"></div>
                </div>
              </div>
              <!-- 가격 숫자 -->
              <div class="priceBox formBoxdiv">
                <div class="labelBox">
                  <label for="price"
                    >판매가 <span class="blueText">(필수)</span></label
                  >
                </div>
                <div class="inputBox">
                  <input
                    placeholder="판매가를 입력해 주세요."
                    id="price"
                    name="price"
                    type="number"
                    pattern="^\d{1,3}(?:,\d{3})*$"
                    title="숫자만 입력해주세요."
                    class="notoSansfont"
                    required
                  />
                  <div class="priceText"></div>
                </div>
              </div>

              <!-- 아이디 숫자로만 / 중복 불가 -->
              <div class="idBox formBoxdiv">
                <div class="labelBox">
                  <label for="productId">자체 상품 코드</label>
                </div>
                <div class="inputBox">
                  <input
                    name="productId"
                    type="number"
                    placeholder="숫자로 입력해 주세요."
                    id="productId"
                    class="notoSansfont"
                    required
                  />

                  <div class="idCheckBtn">중복확인</div>
                  <div class="idText"></div>
                </div>
              </div>

              <!-- 상세내용 -->
              <div class="contentBox formBoxdiv">
                <div class="labelBox">
                  <label for="productContent">상품 상세설명</label>
                </div>
                <div class="textareaBox">
                  <textarea
                    placeholder="상세내용을 입력해 주세요."
                    id="productContent"
                    name="productContent"
                    class="notoSansfont"
                    required
                  ></textarea>
                  <div class="contentText"></div>
                </div>
              </div>
              <!-- 상품 타입 선택 -->
              <div>상품 타입 선택</div>
              <select id="typeSelect" name="productType">
                <!-- <option value="" disabled selected>TYPE</option> -->
                <option value="" disabled selected>TYPE</option>
                <option value="thread">실</option>
                <option value="needle">바늘/도구</option>
                <option value="package">패키지</option>
              </select>
              <!-- 이미지 업로드 -->
              <div class="formBoxdiv">
                <div class="labelBox">
                  <label for="productImage">이미지 (업로드 최대 2개)</label>
                </div>
                <input
                  type="file"
                  name="productImage"
                  id="productImage"
                  required
                  multiple
                />
                <div class="imgRightBox">
                  <div id="uploadDiv" class="uploadDiv">
                    <img src="" alt="Upload Image" id="uploadImage" />
                  </div>
                  <div id="imgpreviewbox1"><img id="preview1" src="" /></div>
                  <div id="imgpreviewbox2"><img id="preview2" src="" /></div>
                  <div class="imageupText"></div>
                </div>
                <div class="imageupText"></div>
              </div>
              <!-- 버튼 -->
              <div class="savebtnWrap">
                <button
                  type="submit"
                  id="saveBtn"
                  class="svbtn bottomfont"
                  onclick="createData(event)"
                >
                  저장
                </button>
              </div>
            </form>
          </div>
          <div class="alltableWrap">
            <div class="tableName">상품 등록 리스트</div>
            <!-- 테이블 여기에 저장~ -->
            <div class="mainTableWrap">
              <table>
                <thead class="theadWrap"></thead>
                <tbody>
                  <% for (let i = 0; i < data.length; i++){ %>
                  <tr id="tr_<%= data[i].id %>">
                    <td>
                      <img
                        src="/public<%= data[i].image_url_1 %>"
                        alt="Product Image"
                      />
                    </td>
                    <td>
                      <a href="/products/detail/<%= data[i].id %>"
                        ><%= data[i].product_id %></a
                      >
                    </td>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].price %></td>
                    <td><%= data[i].description %></td>
                    <td>
                      <input
                        type="button"
                        value="수정"
                        onclick="updatePage('<%= data[i].id %>')"
                      />
                    </td>
                    <td>
                      <input
                        type="button"
                        value="삭제"
                        onclick="deleteProduct('<%= data[i].id %>')"
                      />
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- 푸터 -->
      <div class="footer_wrap"></div>
    </div>
    <!-- sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/public/js/admin.js"></script>
  </body>
</html>
